<h1>Listing manage_schedules</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manage_schedules.each do |manage_schedule| %>
  <tr>
    <td><%= link_to 'Show', manage_schedule %></td>
    <td><%= link_to 'Edit', edit_manage_schedule_path(manage_schedule) %></td>
    <td><%= link_to 'Destroy', manage_schedule, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_manage_schedule_path %>
