<%= form_for(@manage_venue) do |f| %>
  <% if @manage_venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_venue.errors.count, "error") %> prohibited this manage_venue from being saved:</h2>

      <ul>
      <% @manage_venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
